html {
    box-sizing: border-box;
  }


body {
  
  margin: 0;
  background-color:lightgrey;
  font-family: 'Crimson Text', serif;
}


#wrapper {
    display: flex;
    
}

#dashboard {
    width: 15%;
    height: 90%;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0px 10px 10px;
}

#network {
    width: 85%;
    /* background-color: blue; */
}

.label, .legend {
    font-family: 'Crimson Text', serif;

}

#db_location {
    /* background-color: #77DD77; */
    padding-left: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;

}
#db_size {
    /* background-color: #ff8fc1; */
    padding-left: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}

.node {
    z-index: 10;
}

/* slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #77DD87;
    -webkit-transition: .4s;
    transition: .4s;
  }

  #locSlider {
    background-color: #77DD87;
  }
  #sizeSlider {
        background-color: #ff8fc1;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 16px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  