html {
    box-sizing: border-box;
  }

body {
  margin: 0;
  background-color:#F5F5F5;
  font-family: 'Crimson Text', serif;
}

#wrapper {
    display: flex;   
}

#dashboard {
    /* height: auto; */
    width: 15%;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#network {
    width: 85%;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
}

#db_titlewrap {
  text-align: center;
}

#db_instructions {
  padding: 4px 0px 10px 0px;
  font-size: 11px;
  border-bottom: 0.3px solid lightgrey;
  /* text-align: center; */
}

#db_orgwrap {
  height: 60px;
  border-bottom: 0.3px solid lightgrey;
  text-align: center;
  padding-top: 10px;
}

#db_name {
  font-size: 12px;
}

#db_stats {
    padding: 10px 0px;
    border-bottom: 0.3px solid lightgrey;
}

#db_locationheader, #db_size {
    padding: 0px 4px 0px 4px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#legend {
  padding-bottom: 10px;
  border-bottom: 0.3px solid lightgrey;
  
}

.db_stat {
    height: 20px;
    text-align: center;
    font-size: 12px;
}

#credits {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

#credits_link {
  color: black;
}

.node {
    z-index: 10;
}

/* slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }

  #locSlider + .slider{
    background-color: #966FD6;
  }

  #sizeSlider + .slider{
    background-color: #fca474;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 16px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #locSlider:checked + .slider, #sizeSlider:checked + .slider {
    background-color:#ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #legend {
    height: 130px;
  }
  
  .label, .legend {
    font-family: 'Crimson Text', serif;

}